.dashboardContainer {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.dashboardContainer h1 {
    font-size: 2.5rem;
    color: #C12759;
    margin-bottom: 1rem;
    font-weight: 700;
}