.header {
    background-color: #2c3e50;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.topBar {
    background-color: white;
    padding: 8px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.languageSelect span {
    margin: 0 5px;
    color: #555;
    font-size: 14px;
}

.languageSelect span:hover {
    color: #d9534f;
    cursor: pointer;
}

.authLinks a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.authLinks a i {
    margin-right: 5px;
    font-size: 100px;
}

.authLinks a:hover {
    color: #d9534f;
}

.mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 120px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px; /* Adjust as needed */
    margin-right: 10px;
}

.logoText p {
    margin: 0;
    line-height: 1.2;
    font-weight: bold;
}

.logoText p:first-child {
    color: #d9534f;
    font-size: 16px;
}

.logoText p:last-child {
    color: #333;
    font-size: 14px;
}

.mainNav{
    align-items: center;
    justify-content: space-evenly;
}

.mainNav nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.mainNav nav ul li {
    margin-left: 30px;
}

.mainNav nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 0;
    position: relative;
}

.mainNav nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #d9534f;
    transition: width 0.3s ease-in-out;
}

.mainNav nav ul li a:hover::after {
    width: 100%;
}

.mainNav nav ul li a:hover {
    color: #d9534f;
}