.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  /* Để container chiếm hết chiều ngang */
}

.loginForm {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.loginForm h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #C02044;
}

.inputGroup {
  position: relative;
  margin-bottom: 20px;
}

.inputField {
  width: calc(100% - 40px);
  /* Trừ đi khoảng trống cho icon và padding */
  padding: 12px 15px 12px 40px;
  /* Thêm padding bên trái cho icon */
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.inputField:focus {
  outline: none;
  border-color: #ff7878;
  box-shadow: 0 0 5px #ffe5ea;
}

.togglePasswordButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #C02044;
  font-size: 1.2em;
}

.eyeIcon {
  color: #777;
  width: 20px;
  height: 20px;
}

.forgotPassword {
  text-align: right;
  margin-bottom: 20px;
}

.forgotPassword a {
  color: #C02044;
  text-decoration: none;
  font-size: 14px;
}

.forgotPassword a:hover {
  text-decoration: underline;
}

.loginButton {
  background-color: #C02044;
  /* Màu tím tương tự hình ảnh */
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #DA5E5A;
}

.signupPrompt {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.signupPrompt a {
  color: #C02044;
  text-decoration: none;
  font-weight: bold;
}

.signupPrompt a:hover {
  text-decoration: underline;
}