.dropdownMenu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 5px;
    overflow: hidden;
}

.dropdownMenuItem {
    padding: 10px 15px 10px 45px;
    cursor: pointer;
    font-size: 15px;
    color: #7e7b7b;
    transition: background-color 0.2s ease, color 0.2s ease;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
    font-size: 16px;
    font-weight: 530;
}

.dropdownMenuItem:hover {
    background-color: rgba(233, 233, 233, 0.363);
    color: #007A64;
}

.dropdownMenuItem.active {
    background-color: rgba(233, 233, 233, 0.363);
    color: #007a64;
    font-weight: 600;
}

.dropdownMenuItem.active::before {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background-color: #007a646b;
    border-radius: 50%;
}