.navButton {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 20px;
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navButton:hover,
.navButton.active {
  background-color: rgba(0, 0, 0, 0.1);
  border-left: 5px solid #f9bfbf;
  padding-left: 15px;
}

.icon {
  margin-right: 15px;
  font-size: 20px;
}

.label {
  flex-grow: 1;
}